<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>AngularJS - CISS</title>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/myApp.js"></script>
	<script type="text/javascript" src="js/controller/formCtrl.js"></script>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-controller="FormCtrl">
	<div class="container">
		<nav >
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
			</div><!-- /.container-fluid -->
		</nav>
	</nav>
	<div class="jumbotron">
		<h1 ng-bind=" 'Cadastro de tarefas' "></h1>
		<form ng-hide='clicouEditar'>
			<legend>Dados Pessoais</legend>
			<div>
				
				<div class="row">

					<div class="form-group col-xs-12">
						<label for="task">Tarefa</label>
						<input type="text" class="form-control" id="task" placeholder="Digite a tarefa" ng-model="tarefa"></input>
					</br>
					<div>
						<button type="submit" class="btn btn-primary pull-right" ng-click="cadastraTarefa(tarefa)">Cadastrar</button>	
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="row" ng-show='clicouEditar'>
		<legend>Editar</legend>
		<div class="form-group col-xs-8">
			<input type="text" class="form-control" ng-model="renomear"></input>
		</div>
		<div class="col-xs-3">
			<button class="btn btn-primary pull-right" ng-click="renomearTarefa(renomear)">Renomear</button>	
		</div>
		<div class "col-xs-3">
			<button class="btn btn-primary pull rigth" ng-click="cancelarEdicao(cancelar)">Cancelar</button>
		</div>
	</div>

	<hr>
	<div class="row" ng-show= 'list.length > 0'>
		<div class="form-group col-xs-12">
			<label for="search">Buscar:</label>
			<input class="form-control" type="text" id="search" ng-model="search"></input>
			<!-- <p>{{ search }}</p> -->
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Check</th>	
					<th>Tarefa</th>
					<th>Data</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in list | filter:search">
					<td><input type="checkbox" ng-click="removeTarefa($index)"></input></td>
					<td ng-bind="item.nomeTarefa"></td>
					<td ng-bind="item.dataTarefa | date:'dd/MM/yyyy'"></td>
					<td>
						<button class="btn btn-success" ng-click="editaTarefa($index)">
							<i class="glyphicon glyphicon-pencil"></i>
						</button>

						<button class="btn btn-danger" ng-click="removeTarefa($index)">
							<i class="glyphicon glyphicon-trash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!--<p>{{ list }}</p> -->
	</div>
	<div class="row" ng-hide= 'list.length > 0'>
		<h3 class="text-center">Não há tarefas!</h3>
	</div>
</div>

</div>
</body>
</html>

